/* CSS Document */
#header{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}
body{
	animation-name: back;
  	animation-duration: 3s;
    animation-iteration-count: infinite;
	background-attachment: fixed;
}

.topnav {
  background-color: #2E3440;
  overflow: hidden;
  border: 10px solid #2E3440;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px ;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 10px ;
}

.topnav a.all {
  font-family: Verdana, Geneva, sans-serif;
}



@keyframes back {
	/*
	68%, 64%, 4%
	52%, 0%, 7%
	17%, 0%, 9%
	*/
	
	0% {background: linear-gradient(to right, rgb(246, 79, 89), rgb(196, 113, 237), rgb(18, 194, 233));}
	1% {background: linear-gradient(to right, rgb(247, 80, 90), rgb(197, 114, 238), rgb(19, 195, 234));}
	50% {background: linear-gradient(to right, rgb(296, 129, 139), rgb(246, 163, 287), rgb(68, 244, 283));}
	100% {background: linear-gradient(to right, rgb(246, 79, 89), rgb(196, 113, 237), rgb(18, 194, 233));}
	
}

@keyframes test {
	0% {background-color: red;}
  	50% {background-color: yellow;}
	100% {background-color: red;}
}